body {
    margin: 0;
    padding: 0;
    background: rgb(231, 204, 231);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/css/assets/fondo.jpg);
    background-repeat: repeat-x;

}

.contenedor-main {
    /*este es el contenedor del main*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

.error {
    /*esta clase marca los errores de texto por ejemplo "no se encontró el archivo"*/
    color: red;
    font-weight: 600;
}

.resultado {
    /*esta clase sería para esas partes donde se muestran los mensajes o resultados*/
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(233, 220, 204);
    color: rgb(85, 85, 85);
    
}

.contenedor {
    /*esta clase es para los contenedores generales, onda de los formularios y demás*/
    padding: 20px;
    width: max-content;
    background-color: white;
    border-radius: 5px;
}

.form-contenedor{
    /*esta clase es para los contenedores generales, onda de los formularios y demás*/
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.contenedor-de-mini {
    /*en esta clase quiero guardar todos los mini contenedores para que queden uno al lado del otro*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.mini-contenedor {
    /*esta clase es para los contenedores del estilo badge o mini contenedor que solo tiene un link o una pequeña descripcion*/
    padding: 10px;
    background-color: #3a0303;
    width: max-content;
    color: white;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 2px 5px 8px rgb(56, 56, 56);
}

.mini-contenedor a {
    color: white;
    font-style: italic;
}

.mini-contenedor:hover {
    background-color: #612424;
}

.btn-enviar,
.btn-volver,
.btn-guardar,
.btn-borrar {
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
}

.btn-enviar {
    /*esta clase es para los botones enviar*/
    background-color: blue;
    color: white;
    border: 0 blue;
}

.btn-volver {
    /*esta clase es para los botones volver*/
    background-color: gray;
    color: black;
}

.btn-guardar {
    /*esta clase es para los botones del tipo confirmar cambios*/
    background-color: green;
    color: white;
}

.btn-borrar {
    /*esta clase es para los botones del tipo reset*/
    background-color: red;
    color: white;
    border: 0;
}

.btn-enviar:hover {
    background-color: rgb(29, 29, 252);
}

.btn-guardar:hover {
    background-color: rgb(42, 160, 42);
}

.btn-volver:hover {
    background-color: rgb(173, 172, 172);
}

.btn-borrar:hover {
    background-color: rgb(253, 45, 45);
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

label{
    margin: 5px;
}

/*para ocultar las flechitas del input type number en chrome, edge, safari etc*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*para ocultar las flechitas del input type number en firefox*/
input[type="number"] {
  -moz-appearance: textfield;
}